<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>   
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054911">Java-разработчик (Java developer)</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">MyWed</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055119">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">А3</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043693">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055210">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто</td> 
     <td class="salary">От 160 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053957">Программист Java</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 30 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055569">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OFD.ru</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054969">Разработчик Java</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">OptiSystems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047526">Инженер-программист Java / Software Developer Java</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Libertex Group</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055216">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Neoflex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054935">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Корпорация "Галактика"</td> 
     <td class="salary">От 170 000 до 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054626">BackEnd разработчик (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044188">Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055057">Java developer (Big Data)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055261">Java - разработчик</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">ServiceHUB</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055093">Java разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055450">Java backend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PeoplePass</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055242">Team Lead (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ITFinancе</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055310">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">JUG Ru Group</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055163">Middle+/Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055422">Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">WaveAccess</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055226">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HRlab</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055573">Middle/Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Usetech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055452">FullStack (Java + Vue.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PeoplePass</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054911">Java-разработчик (Java developer)</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">MyWed</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055119">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">А3</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043693">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055210">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто</td> 
     <td class="salary">От 160 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053957">Программист Java</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 30 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055569">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OFD.ru</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054969">Разработчик Java</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">OptiSystems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047526">Инженер-программист Java / Software Developer Java</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Libertex Group</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055216">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Neoflex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054935">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Корпорация "Галактика"</td> 
     <td class="salary">От 170 000 до 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054626">BackEnd разработчик (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044188">Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055057">Java developer (Big Data)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055261">Java - разработчик</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">ServiceHUB</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055093">Java разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055450">Java backend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PeoplePass</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055242">Team Lead (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ITFinancе</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055310">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">JUG Ru Group</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055163">Middle+/Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055422">Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">WaveAccess</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055226">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HRlab</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055573">Middle/Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Usetech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055452">FullStack (Java + Vue.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PeoplePass</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055271">Стажёр-разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИЦ «Ай-Теко»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055548">Full-stack Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043611">Backend Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КУРС</td> 
     <td class="salary">От 190 000 до 330 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046979">Java Developer (e-commerce)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055197">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский Банк реконструкции и развития</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033185">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055265">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HRlab</td> 
     <td class="salary">От 80 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034935">High Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 110 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055416">Java-разработчик</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">НПО «Криста»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055586">Java-разработчик - аналитик</a></td> 
     <td class="city"></td> 
     <td class="companyName">INETME</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054669">Senior Java Developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055186">Backend разработчик (Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">MyTona</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048117">Java-разработчик (senior/middle)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TecForce</td> 
     <td class="salary">От 120 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039958">Kotlin/Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054665">Middle Java Developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054668">Java-лабарь от Бога.</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052263">Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Robusta</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054927">Java developer/Senior Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wanted.</td> 
     <td class="salary">От 3 000 до 4 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055457">Android Developer (Kotlin/Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PeoplePass</td> 
     <td class="salary">От 100 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054939">Senior Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 130 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055351">Senior Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Честный ЗНАК</td> 
     <td class="salary">От 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055143">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ЦРТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051682">Team lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ГК «ОБОЗ»</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048842">Senior Java/Kotlin Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Spectrum</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055141">Senior Java/Kotlin разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053146">Senior Java Developer (AI/NLP систем)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask</td> 
     <td class="salary">От 1 000 до 2 800 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055131">Java/Scala разработчик (Big Data)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049925">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028469">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055075">Разработчик Android (Java || Kotlin)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054462">QA Automation Engineer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054940">Java‑разработчик в проект «Восток»</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055090">Technical Leader Java (Grails / Cuba Platform)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054715">Senior Full Stack Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055390">Ведущий разработчик С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Национальный расчетный депозитарий</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051936">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051527">Системный аналитик</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054961">Разработчик Scala / Middle Scala Developer (Java / C++ / С# / Python)</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054670">Senior DevOps Engineer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055082">Senior Full-Stack разработчик (JS)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Exadel</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055182">Ведущий разработчик, Senior</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">ТомскАСУпроект</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051836">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gradient</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053795">Team Lead разработки DMP / Senior backend разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049130">Backend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055393">Разработчик Android</a></td> 
     <td class="city">Королев</td> 
     <td class="companyName">IMMO</td> 
     <td class="salary">От 100 000 до 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055217">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055387">Руководитель направления Java-разработки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Национальный расчетный депозитарий</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055022">Ведущий Инженер Atlassian</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Телеконтакт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055155">Android Framework Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055519">Software Engineer / Tech Lead in Japan (Токио, Япония, Релокация)</a></td> 
     <td class="city">Токио</td> 
     <td class="companyName">MPDigital</td> 
     <td class="salary">От 7 000 до 15 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055159">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054582">Преподаватель курса Senior Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">OTUS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054223">QA Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">inDriver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055301">Разработчик Scala</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Neoflex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055479">Middle/Senior Backend Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Revolut</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055328">Android developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055183">iOS + Android Разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">MadApps</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055307">Backend Developer</a></td> 
     <td class="city">Ларнака</td> 
     <td class="companyName">iTech Capital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054869">Эксперт по автоматизированному тестированию</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054459">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055345">Android разработчик (Афиша)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rambler Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055038">Старший инженер по качеству данных</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054968">Backend Developer (Go)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">А3</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055405">Senior Backend Engineer Services</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Bercut</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055313">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055099">Backend Developer / PHP-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бета Пресс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055535">Инженер по автоматизации тестирования (команда разработки iOS)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054463">Mobile QA Automation Engineer (iOS/Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055291">Инженер (Oracle Identity Manager)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055123">Middle/Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Моризо Digital</td> 
     <td class="salary">От 120 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052753">Spring framework back-end developer</a></td> 
     <td class="city">Йошкар-Ола</td> 
     <td class="companyName">GXB Development</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055230">Руководитель отдела разработки программного обеспечения</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сканкод</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043669">Data scientist</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055470">Старший системный администратор</a></td> 
     <td class="city">Ижевск</td> 
     <td class="companyName">KRIT</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050204">PHP программист со знанием 1С Битрикс (работа удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">INETME</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054102">Разработчик-путешественник</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055000">Разработчик мобильных приложений под Android</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary">До 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055234">Главный IT специалист Бэк-офис Британского банка</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Стерлинг</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050089">Системный администратор Linux/DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055428">Ведущий разработчик программной платформы</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Euromobile</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043826">Data Engineer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055365">Программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">Время: Оцифруй Себя Для Жизни 120+</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054955">Frontend-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Авто-Траст</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055195">Senior programmer (DAX, Axapta, Microsoft Dynamics AX)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Элемент Лизинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055039">Technical Product Manager. Mercari Tokyo (Токио, Япония. Релокация)</a></td> 
     <td class="city">Токио</td> 
     <td class="companyName">MPDigital</td> 
     <td class="salary">От 6 000 до 10 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055026">Flutter разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">PIXAERO</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054484">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">inDriver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055319">Android Developer (Kotlin)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Cardsmobile</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055449">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Revolut</td> 
     <td class="salary">От 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055272">Ведущий системный аналитик (фронт-системы)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055198">Android разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский Банк реконструкции и развития</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055203">Full-stack developer</a></td> 
     <td class="city">Ларнака</td> 
     <td class="companyName">iTech Capital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055526">DevOps-инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Стерлинг</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055158">Тестировщик ПО / QA Engineer (Екатеринбург)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SquareGPS</td> 
     <td class="salary">От 60 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052813">Middle/Senior support engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Bercut</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055304">Middle/Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Postuf</td> 
     <td class="salary">От 150 000 до 350 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055453">Front End Developer (Vue.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PeoplePass</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047857">Middle/Senior React-Native Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Aline digital agency</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055446">Программист-разработчик для IBM Notes (Lotus)</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">ГАУЗ «МКДЦ»</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054081">QA (Desktop), специалист по тестированию.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054993">Flutter / Dart Developer (Краснодар)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053637">Разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ИВС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054963">Senior PHP Developer, Laravel</a></td> 
     <td class="city"></td> 
     <td class="companyName">Autopilot</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053999">Senior Backend С# Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053994">Senior Backend Python Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055012">Frontend Developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055035">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SoftPro</td> 
     <td class="salary">От 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054237">Flutter / Dart Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055472">JavaScript-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">NewTech</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055134">Инженер службы эксплуатации</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037751">System Architect</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ad.ru</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055027">HTML-верстальщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028903">Front-end разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Idea Platform</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055001">Старший системный администратор Hadoop</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ПСБ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055516">PHP-программист</a></td> 
     <td class="city">Королев</td> 
     <td class="companyName">IMMO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049127">Frontend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055481">QA Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Emlid</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055122">Senior back-end developer (Ruby/ Python/ NodeJS/ Golang)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RedStone Capital</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055501">SharePoint Support Specialist</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">KPMG</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055273">Инженер по тестированию</a></td> 
     <td class="city"></td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054988">DevOPS TeamLead / Techlead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054975">QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WEBINAR</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055059">DevOps</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055477">PHP-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АКМЭ сервис</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054062">Программист 1С + Битрикс</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HARTUNG</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027966">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053613">Бэкенд-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053557">Бэкенд-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053610">Бэкенд-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053612">Бэкенд-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053611">Бэкенд-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055135">Middle QA Specialist</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055320">Руководитель группы тестирования / Team Lead QA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WEBINAR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054143">QA-инженер «Единого клиента»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053614">Бэкенд-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052705">React Native Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054962">Senior PHP-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ruform (Pladform &amp; Rutube)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053345">DevOps engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054931">IT HR менеджер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8BIT GROUP</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055441">Ведущий тестировщик / QA automation engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Новые Программные Системы</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055553">QA Automation iOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055008">Scala разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044617">Frontend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">JUG Ru Group</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055278">Lead/Senior Automation QA (JS)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Exadel</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054845">Инженер DevOps / Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KALABI</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34647969?query=java%20Odessa">Android-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО SISHUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34902984?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34249278?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/33834485?query=java%20Odessa">Senior / Middle Android Разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary">2 500-3 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34625702?query=java%20Odessa">Javascript (ES6) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11 200-28 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34611231?query=java%20Odessa">IOS-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Oxiwyle</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34833472?query=java%20Odessa">Middle Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34833340?query=java%20Odessa">Configuration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34536688?query=java%20Odessa">Java Developer with Camunda BPM</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34766706?query=java%20Odessa">MIddle QA Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Continuum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://nadvornaya.hh.ua/vacancy/34697844?query=java%20Odessa">Водитель</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary">12 000-18 000 грн.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>